
<div class="row">	
	<div class="small-2 large-4 columns"><h2>Meal Sales</h2></div>
</div>	

<div ng-controller="stocksController">		
	<div class="row">
		<div class="small-6 columns">
			<input ng-model="query" placeholder="Search">
		</div>
	</div>
	<div class="row">
		<br>
	</div>
	<div class="row">
		<div class="Small-12 columns">
			<table>
				<thead>
				    <tr>
				      	<th>Id</th>
				      	<th>Name</th>				      	
				      	<th>Sold</th>					      	
				      	<th>Waste</th>						      		     				      	
				      	<th>Undo</th>
				    </tr>
			  	</thead>
			  	<tbody>				    
				    <tr ng-repeat="stock in stocks | filter:query | orderBy:name" ng-hide="stock.reconciled">
				    	<td><a href="#userEditMeal/{{ stock.id }}">{{ stock.id }}</a></td>
				      	<td>{{ stock.name }}</td>				      	      				      
				      	<td><button class="tiny" ng-click="incrementSold($index)">+</td>	
				      	<td><button class="tiny" ng-click="incrementWaste($index)">+</button></td>			      	
				      	<td><button class="tiny" ng-show="stock.modified" ng-click="undo($index)">Undo</button></td>
				    </tr>			   			  
			  	</tbody>
			</table>
		</div>	
	</div>			
