
<div class="row">	
	<div class="small-12 columns"><h2>[User] Edit Meal</h2></div>
</div>

<div ng-controller="mealEditController">
	<div class="row">
		<div class="small-6 columns" ng-show="selected_meal.name">							
			<div class="row">
				<label>Meal Name</label>
				<input type="text" ng-model="selected_meal.name" value="{{ selected_meal.name }}" >	

				<label>Enabled</label>			
				<input type="text" ng-model="selected_meal.enabled" value="{{ selected_meal.enabled }}">
			</div>
		</div>
	</div>
			
	<div class="row">
		<div class="small-6 columns">Current Ingredients
			<table>
				<thead>
				    <tr>
				      	<th>Name</th>	
				      	<th>Amount</th>
				      	<th>Unit</th>				      					          
				    </tr>
			  	</thead>
			  	<tbody>
				    <tr ng-repeat="ingredient in selected_meal.ingredients | filter:query | orderBy:orderBy">
				      	<td ng-click="pushToAvailableIngredients(selected_meal.id, ingredient.ingredient_id)">{{ ingredient.name }}</td>
				      	<td><input type="text" class="small" value="{{ ingredient.amount }}" ng-blur="updateIngredientAmount(selected_meal.id, ingredient.ingredient_id, ingredient.amount)"></td>
				      	<td>{{ ingredient.unit }}</td>
				    </tr>			   		
			  	</tbody>
			</table>
		</div>
		<div class="small-6 columns">Available Ingredients
			<table>
				<thead>
				    <tr>
				      	<th>Name</th>					      					      	     
				      	<th>Unit</th>
				    </tr>
			  	</thead>
			  	<tbody>			 		
				     <tr ng-repeat="ingredient in available_ingredients | filter:query | orderBy:orderBy">
				      	<td ng-click="pushToCurrentIngredients(selected_meal.id, ingredient.id, 2)">{{ ingredient.name }}</td>
				      	<td>{{ ingredient.unit }}</td>					      	      
				    </tr>			   			   
			  	</tbody>
			</table>
		</div>
	</div>
	
	<div class="row">
		<button ng-click="updateMeal()">Save</button>
		<a href="#userMeals" class="button">Cancel</a>
		<button class="button alert" ng-click="deleteMeal(selected_meal.id)">Delete!</button>
	</div>
</div>
