
<div class="row">	
	<div class="small-12 columns"><h2>[User] Edit Ingredient</h2></div>
</div>	

<div ng-controller="ingredientEditController">	
	<div class="small-6 columns" ng-show="selected_ingredient.name">				
			<br>
			<p>Update company</p>
			<br>
			<input type="text" ng-model="selected_ingredient.name" value="{{ selected_ingredient.name }}" >
			<input type="text" ng-model="selected_ingredient.unit" value="{{ selected_ingredient.unit }}" >
			<input type="text" ng-model="selected_ingredient.enabled" value="{{ selected_ingredient.enabled }}" >
			
			<button ng-click="updateIngredient()">Save</button>
			<a href="#userIngredients" class="button">Cancel</a>
			<button class="button alert" ng-click="deleteIngredient(selected_ingredient.id)">Delete!</button>  
		</div>
</div>