<div class="row">
    <div class="small-12 columns">
        <h2>Edit Ingredient</h2>
    </div>
</div>

<div ng-controller="ingredientEditController">
    <div class="row">
        <div class="small-3 columns">
            <input type="text"
                ng-model="ingredient.name"
                value="ingredient.name"
                placeholder="Ingredient Name">
        </div>
        <div class="small-3 columns">
            <input type="text"
                ng-model="ingredient.unit"
                value="ingredient.unit"
                placeholder="Unit">
        </div>
        <div class="small-3 columns">
            <input type="text"
                ng-model="ingredient.price"
                value="{{ ingredient.price }}"
                placeholder="Price">
        </div>
        <div class="small-2 columns end">
            <input type="checkbox"
                ng-model="ingredient.enabled"
                value="ingredient.enabled"
                ng-true-value="1"
                ng-false-value="0">
            <label>Enabled</label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <button ng-click="updateIngredient()">Save</button>
            <a href="#ingredients" class="button">Cancel</a>
            <button class="button alert" ng-click="deleteIngredient(ingredient.id)">Delete!</button>
        </div>
    </div>
</div>