<div ng-controller="ingredientsController">
    <div class="row">
        <div class="small-3 columns">
            <h2>Ingredients</h2>
        </div>
        <div class="small-3 columns">
            <input class="pad-top" type="text" ng-model="new_ingredient.name" placeholder="Ingredient Name">
        </div>
        <div class="small-2 columns">
            <input class="pad-top" type="text" placeholder="Unit" ng-model="new_ingredient.unit">
        </div>
        <div class="small-1 columns">
            <input class="pad-top" type="text" placeholder="Price" ng-model="new_ingredient.price">
        </div>
        <div class="small-1 columns">
            <button class="button postfix pad-top" ng-click="newIngredient()">Add</button>
        </div>
        <div class="small-2 columns">
            <input class="pad-top" type="search" ng-model="query" placeholder="Search">
        </div>
    </div>
    <div class="row">
        <div class="Small-12 columns">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Measurement</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ingredient in ingredients | filter:query | orderBy:orderBy">
                        <td><a href="#editIngredient/{{ ingredient.id }}">{{ ingredient.name }}</a></td>
                        <td>{{ ingredient.unit }}</td>
                        <td>{{ ingredient.price }}</td>
                    </tr>
                </tbody>
            </table>
            <p> Total number of ingredients : {{ ingredients.length }}</p>
        </div>
    </div>
</div>