
<div ng-controller="ingredientsController">
    <div class="row">
        <div class="small-3 columns"><h2>Ingredients</h2></div>
        <div class="small-2 columns end"><button class="tiny" ng-click="showCreateIngredient()">Create Ingredient</button></div>
    </div>
    <div class="row">
        <div class="small-12 columns" ng-show="createIngredientPushed">
            <div class="row">
                <div class="small-4 columns"><b>Create new Ingredient</b></div>
            </div>
            <div class="row">
                <div class="small-3 columns"><input type="text" placeholder="Name" ng-model="new_ingredient.name"></div>
                <div class="small-3 columns"><input type="text" placeholder="Unit" ng-model="new_ingredient.unit"></div>
                <div class="small-3 columns end"><input type="text" placeholder="Enabled" ng-model="new_ingredient.enabled"></div>
            </div>
            <div class="row">
                <div class="small-3 columns"><button ng-click="newIngredient()">Create Ingredient</button></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <p> Total number of ingredients : {{ ingredients.length }}</p>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <input ng-model="query" placeholder="Search">
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="Small-12 columns">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Measurement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ingredient in ingredients | filter:query | orderBy:orderBy">
                        <td><a href="#editIngredient/{{ ingredient.id }}">{{ ingredient.name }}</a></td>
                        <td>{{ ingredient.unit }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>