<div ng-controller="mealEditController">
    <div class="row">
    </div>

    <div class="row">
        <div class="small-6 columns">
            <h4>Ingredients Used</h4>
            <div class="small-5 columns">
                <input type="text" ng-model="meal.name" value="{{ meal.name }}" placeholder="Meal Name">
            </div>
            <div class="small-3 columns end">
                <input type="checkbox"
                    ng-model="meal.enabled"
                    value="{{ meal.enabled }}"
                    ng-true-value="1"
                    ng-false-value="0">
                <label>Enabled</label>
            </div>
            <div ng-repeat="ingredient in meal.ingredients | filter:query | orderBy:orderBy">
                <div class="row">
                    <div class="small-11 columns">
                        <div class="small-3 columns">
                            <h6>{{ ingredient.name }}</h6>
                        </div>
                        <div class="small-1 columns">
                            <input type="text" ng-model="ingredient.amount" placeholder="amount">
                        </div>
                        <div class="small-3 columns">
                            <button class="tiny secondary" ng-click="decAmount(ingredient)">-</button>
                            <button class="tiny secondary" ng-click="incAmount(ingredient)">+</button>
                        </div>
                        <div class="small-3 columns end">
                            <button class="tiny alert"
                                ng-click="removeIngredientFromMeal(meal, ingredient)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <button ng-click="updateMeal()">Save</button>
                    <button class="button alert" ng-click="deleteMeal(meal.id)">Delete!</button>
                </div>
            </div>
        </div>

        <div class="small-6 columns">
            <h4>Available Ingredients</h4>
            <div class="row">
                <div class="small-5 columns end">
                    <input type="search" ng-model="avail_query" placeholder="Search">
                </div>
            </div>
            <div ng-repeat="ingredient in available_ingredients | filter:avail_query | orderBy:orderBy">
                <div class="row">
                    <div class="small-3 columns">
                        <p>{{ ingredient.name }}</p>
                    </div>
                    <div class="small-3 columns">
                        <p>{{ ingredient.unit }}</p>
                    </div>
                    <div class="small-2 columns end">
                        <button class="tiny" ng-click="addIngredientToMeal(meal, ingredient)">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
