<div ng-controller="stocksController">
    <div class="row">
        <div class="small-3 columns">
            <h2>Meal Sales</h2>
        </div>
        <div class="small-3 columns">
            <input type="search" class="pad-top" ng-model="query" placeholder="Search">
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sold</th>
                        <th>Wasted</th>
                        <th>Undo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stock in stocks | filter:query | orderBy:name" ng-hide="stock.reconciled">
                        <td><a href="#editMeal/{{ stock.id }}">{{ stock.name }}</a></td>
                        <td><button class="tiny" ng-click="incrementSold($index)">+</button></td>
                        <td><button class="tiny" ng-click="incrementWaste($index)">+</button></td>
                        <td><button class="tiny" ng-show="stock.modified" ng-click="undo($index)">Undo</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>