<div ng-controller="mealsController">
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-2 columns">
                    <h2>Meals</h2>
                </div>
                <div class="small-4 columns">
                    <input class="pad-top" type="text" ng-model="new_meal_name" placeholder="New Meal">
                </div>
                <div class="small-1 columns">
                    <a class="button postfix pad-top" href="#" ng-click="newMeal()">New Meal</a>
                </div>
                <div class="small-3 columns">
                    <input class="pad-top" type="search" ng-model="query" placeholder="Search">
                </div>
            </div>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Enabled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="meal in meals | filter:query | orderBy:orderBy">
                        <td><a href="#editMeal/{{ meal.id }}">{{ meal.name }}</a></td>
                        <td><input type="checkbox" ng-model="meal.enabled" ng-true-value="1" ng-false-value="0" ng-change="updateEnabled(meal)"></td>
                    </tr>
                </tbody>
            </table>
            <p> Total number of meals : {{ meals.length }}</p>
        </div>
    </div>
</div>