
<div class="row">
    <div class="small-12 columns"><h2>Admin Edit Company</h2></div>
</div>

<div ng-controller="companyEditController">
    <div class="row">
        <div class="small-4 columns" ng-show="company.name">
            <input type="text" ng-model="company.name" value="{{ company.name }}" >
        </div>
        <div class="small-2 columns end">
            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="company.enabled">
            <label>Enabled</label>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <button ng-click="updateCompany(company.id)">Save</button>
            <a href="#companies" class="button">Cancel</a>
            <button class="button alert" ng-click="deleteCompany(company.id)">Delete!</button>
        </div>
    </div>
</div>